<section style="background-color: #b89867" class="pb-16 overflow-hidden relative">
  <div class="container mx-auto grow h-[99vh] content-center text-white relative">
    <img
      class="background-image hidden md:block md:absolute md:bottom-[0] w-[70vw] max-w-none translate-x-[50vw]"
      ngSrc="quienes-somos.png"
      alt="Quienes Somos"
      width="100"
      height="100"
    />

    <div class="ms-4 sm:ms-5 md:me-[30vw] flex flex-col gap-3 sm:gap-5">
      <h1>Defendemos Sus Derechos con Compromiso y Experiencia en Argentina</h1>
      <p style="color: #fff">
        Ya sea que sea propietario de un negocio que busca asesoramiento legal, un miembro de la familia que busca proteger los activos de sus seres queridos o una persona que enfrenta una disputa legal, nuestro equipo de abogados experimentados está aquí para ayudarlo. <span class="italic font-bold">Cavelli y Asoc.</span> se especializa en las siguientes áreas de práctica:
      </p>

      <ul>
        <li class="flex items-center gap-5"><span class="pi pi-circle-on" style="color: #627A93"></span>Accidentes de Transito</li>
        <li class="flex items-center gap-5"><span class="pi pi-circle-on" style="color: #627A93"></span>Multas de Tránsito</li>
        <li class="flex items-center gap-5"><span class="pi pi-circle-on" style="color: #627A93"></span>Derecho de Familia y Sucesiones</li>
        <li class="flex items-center gap-5"><span class="pi pi-circle-on" style="color: #627A93"></span>Derecho Laboral</li>
        <li class="flex items-center gap-5"><span class="pi pi-circle-on" style="color: #627A93"></span>Derecho Comercial</li>
        <li class="flex items-center gap-5"><span class="pi pi-circle-on" style="color: #627A93"></span>Derecho Penal</li>
      </ul>

      <div>
        <a [href]="'#contactanos'" target="_self" class="p-button button-blue" style="width: fit-content">¡CONSULTA AQUÍ!</a>
      </div>
    </div>
  </div>
  <div style="background-color: #0000007d; text-align: -webkit-center" class="text-white flex gap-2 lg:gap-10 p-2 justify-around lg:w-fit lg:ms-auto lg:rounded-s-3xl lg:p-10 lg:pe-[20vw]">
    <div>
      <p style="font-size: 2rem; color: #fff">10+</p>
      <p style="font-size: 0.75rem; color: #fff">Años de Experiencia Combinada</p>
    </div>
    <div>
      <p style="font-size: 2rem; color: #fff">100+</p>
      <p style="font-size: 0.75rem; color: #fff">Clientes Servidos</p>
    </div>
    <div>
      <p style="font-size: 2rem; color: #fff">Millones</p>
      <p style="font-size: 0.75rem; color: #fff">de pesos ahorrados para nuestros clientes</p>
    </div>
  </div>
</section>
<section style="background-color: #b89867" class="pt-16">
<!--  <div style="background-color: #ececec" class="py-10 rounded-t-3xl">-->
<!--    <div class="container mx-auto grow h-full">-->
<!--      <div class="mx-5">-->
<!--        <div appUp class="elfsight-app-16b07450-ea35-4e1b-b71a-af3382f65437" data-elfsight-app-lazy></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<section style="background-color: #ececec" class="pt-16">-->
  <div style="background-color: #fff" class="py-10 rounded-t-3xl">
    <div class="container mx-auto grow h-full">
      <div appUp class="mx-5">
        <div class="flex flex-col lg:flex-row gap-10">
          <div class="basis-1/2 self-center">
            <h3>¿Cómo trabajamos?</h3>
            <p class="pt-5" style="color: #4a5f75">El Staff de profesionales es un equipo interdisciplinario de profesionales avocados a diferentes ramas del derecho, que serán organizados y coordinados en base a la necesidad de cada cliente. Nuestro norte es constituir equipos de trabajo conformado por jóvenes y expertos, especializados en la materia que el cliente necesite. De esta manera, nos aseguramos que el proceso y su resultado, sea el mas beneficioso para quién deposita su confianza en nuestro estudio. Estamos siempre a su entera disposición.</p>
          </div>
          <div class="basis-1/2">
            <img ngSrc="accordion.jpg" alt="" width="100" height="100" class="w-auto rounded-3xl">
          </div>
        </div>

        <div class="md:mx-[5vw] py-10">
          <p-accordion value="0">
            <p-accordion-panel value="0">
              <p-accordion-header>ACCIDENTES DE TRANSITO</p-accordion-header>
              <p-accordion-content>
                <p class="m-0" style="color: #4a5f75">
                  En <span class="italic">Cavelli y Asoc.</span> sabemos lo mucho que puede cambiar tu vida después de un accidente vehicular. Nuestro director y coordinador posee más de 20 años de experiencia en rutas argentinas y vasto conocimiento en la materia pertinente, por eso, ésta es una de nuestras tareas de preferencia. Abogar por tus derechos y reclamar lo que te corresponde ya sea de índole material o para reparar tus afecciones espirituales. En nuestro estudio nos preocupamos por obtener los mejores resultados.
                </p>
              </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="1">
              <p-accordion-header>MULTAS DE TRÁNSITO</p-accordion-header>
              <p-accordion-content>
                <p class="m-0" style="color: #4a5f75">
                  Si tenés infracciones de tránsito y/o foto multas, llegaste al estudio indicado para reducir al máximo posible el costo de las mismas. Nuestro director posee más de 22 años de experiencia transitando nuestro país y un vasto conocimiento en la materia. Consultanos!!!
                </p>
              </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="2">
              <p-accordion-header>DERECHO DE FAMILIA Y SUCESIONES</p-accordion-header>
              <p-accordion-content>
                <p class="m-0" style="color: #4a5f75">
                  En <span class="italic">Cavelli y Asoc.</span> entendemos que cada familia es un mundo y, en cada mundo, existen innumerable cantidades de conflictos, dudas y problemas. Por esto, tenemos un grupo de profesionales a cargo de la materia para poder darte una pronta respuesta y posible solución a tu problema. Nuestro equipo es consciente de lo importante que es para vos el hecho de estar transitando por este momento tan inesperado y dificil. En todo el proceso estaremos en constante seguimiento de tu caso para que tu solución llegue lo más rápido posible.
                </p>
              </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="3">
              <p-accordion-header>DERECHO LABORAL</p-accordion-header>
              <p-accordion-content>
                <p class="m-0" style="color: #4a5f75">
                  El equipo de laboralistas se enfoca en ofrecerte un seguimiento personalizado de tu caso en particular. Sabemos lo que siente nuestro cliente, su frustración, su bronca y su incertidumbre. Siempre estamos al pendiente de cada caso, procurando que cada trabajador obtenga lo que es suyo. En <span class="italic">Cavelli y Asoc.</span> somos gente de trabajo!!!
                </p>
              </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="4">
              <p-accordion-header>DERECHO COMERCIAL</p-accordion-header>
              <p-accordion-content>
                <p class="m-0" style="color: #4a5f75">
                  Si tu duda o problema se refiere a contratos comerciales, constitución de sociedades, ejecución de deudas, propiedad intelectual, registro de marcas o títulos ejecutivos, podemos ayudarte!. El departamento de derecho comercial es un equipo formado para atender, de la manera mas efectiva, tus necesidades. Nada queda al azar cuando un equipo está a la vanguardia del derecho!
                </p>
              </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="5">
              <p-accordion-header>DERECHO PENAL</p-accordion-header>
              <p-accordion-content>
                <p class="m-0" style="color: #4a5f75">
                  En <span class="italic">Cavelli y Asoc.</span> sabemos como defenderte, sólo tenés que comunicarte ya! No dejes pasar el tiempo, es vital! Nuestro director está disponible las 24hs. en su teléfono particular si, por algún motivo, no lográs comunicarte con nuestro wsp.
                </p>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </div>
        <div style="background: linear-gradient(91.94deg, #627A93 19.16%, #39648F 92.32%)" class="text-white rounded-3xl p-5 sm:py-10 md:p-15 lg:py-20 flex flex-col lg:flex-row gap-5 justify-between items-center">
          <div appLeft>
            <h2 style="color: #fff">Estamos Aquí <span class="italic">para Ayudar</span></h2>
            <p class="pt-5" style="color: #fff">¿Listo para discutir sus necesidades legales? ¡Comencemos!</p>
          </div>
          <div class="flex flex-col md:flex-row gap-5 self-start lg:self-center">
            <a [href]="'#contactanos'" target="_self" class="p-button button-white" style="align-self: start">¡CONSULTA AQUÍ!</a>

            <div class="flex flex-col sm:flex-row gap-5 items-center">
              <a href="https://wa.me/+5492364666986" class="element-hover pe-2.5">
                <div class="flex gap-5 flex-row items-center">
                  <div class="pi pi-whatsapp p-4 rounded-full h-fit" style="background-color: #ffffff4d"></div>
                  <p style="font-size: 0.875rem; color: #fff">+54 9236 466-6986</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #fff" class="pt-16">
  <div style="background-image: url('porque-confiar.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center" class="rounded-t-3xl pt-16 pb-28">
    <div class="container mx-auto grow h-full content-center">
      <div appUp class="mx-5 text-white">
        <h2 style="color: #fff">¿Por qué poner tu confianza en nosotros?</h2>
        <div class="flex flex-col md:flex-row gap-5 mt-[2.5rem] lg:mt-[10.875rem]">
          <div>
            <div class="pi pi-sparkles" style="font-size: 2.063rem"></div>
            <p class="font-bold" style="color: #fff">Experimentado</p>
            <p style="color: #fff">Un equipo de abogados con amplia experiencia y un historial de éxito comprobado.</p>
          </div>
          <div>
            <div class="pi pi-bolt" style="font-size: 2.063rem"></div>
            <p class="font-bold" style="color: #fff">Acercable</p>
            <p style="color: #fff">Concentración en los resultados, con un enfoque práctico para obtener el mejor resultado posible para los clientes.</p>
          </div>
          <div>
            <div class="pi pi-dollar" style="font-size: 2.063rem"></div>
            <p class="font-bold" style="color: #fff">Flexible</p>
            <p style="color: #fff">Estructuras de tarifas flexibles, incluidos acuerdos de contingencia y tarifa fija.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #fff" class="py-10 rounded-t-3xl relative top-[-2.5vh] ">
  <div class="container mx-auto grow h-full content-center">
    <div class="mx-5">
      <div class="flex flex-col lg:flex-row-reverse gap-10">
        <div class="lg:flex-1/2 self-center">
          <h2 class="italic">Experiencia en Acción:</h2>
          <h2>Conozca al Grupo Cavelli y Asoc.</h2>
          <p class="pt-5"><strong>En <span class="italic">Cavelli y Asoc.</span>, nuestros hábiles abogados se dedican a ofrecer servicios legales excepcionales, utilizando la tecnología más avanzada para ofrecer soluciones eficientes y rentables adaptadas a sus necesidades únicas.</strong></p>
          <p class="pt-5">Nuestra trayectoria de éxito, nuestro enfoque práctico y nuestra dedicación a los resultados garantizan el mejor resultado posible. Gracias a una sólida red de relaciones profesionales, estamos bien preparados para servirle. La comunicación y la transparencia son primordiales, manteniéndole informado y comprometido durante todo el proceso legal.</p>
        </div>
        <div appLeft class="flex flex-col sm:flex-row gap-5 lg:flex-1/2 self-center">
          <div>
            <div><img ngSrc="alexis.png" alt="" width="100" height="100" class="rounded-3xl w-fit"></div>
            <h3>Dr. Alexis Cavelli</h3>
            <li style="color: #041914">Con Matrícula en Provincia de Buenos Aires</li>
            <li style="color: #041914">Ubicado en Junín</li>
          </div>
          <div>
            <div><img ngSrc="anahi.png" alt="" width="100" height="100" class="rounded-3xl w-fit"></div>
            <h3>Dra. Anahí Cavelli</h3>
            <li style="color: #041914">Con Matrícula en Provincia de Buenos Aires</li>
            <li style="color: #041914">Ubicada en Mar del Plata</li>
          </div>
        </div>
      </div>
<!--      <div style="border: 1px solid #d9d9d9;" class="p-5 rounded-3xl grid grid-cols-1 md:grid-cols-2 gap-5 mt-[2.5rem] w-fit justify-self-center">-->
<!--        <div>-->
<!--          <p style="font-size: 2rem; line-height: 2.188rem">Ahorró Millones</p>-->
<!--          <p>de pesos de los clientes</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <p style="font-size: 2rem; line-height: 2.188rem">Amplio Historial De Logro</p>-->
<!--          <p>de los objetivos del cliente</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <p style="font-size: 2rem; line-height: 2.188rem">100+</p>-->
<!--          <p>Clientes Servidos</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <p style="font-size: 2rem; line-height: 2.188rem">10+</p>-->
<!--          <p>Años de Experiencia Combinada</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</section>
<section style="background-color: #fff" class="pt-16">
  <div style="background-color: #ececec" class="py-10 rounded-t-3xl">
    <div class="container mx-auto grow h-full">
      <div appUp class="mx-5">
        <h2>¿Tienes Necesidades Legales? <span class="italic">¡Cuéntanos Sobre Ellos!</span></h2>
        <p class="mt-5"><strong>En <span class="italic">Cavelli y Asoc.</span>, estamos aquí para ayudarle con todas sus necesidades legales.</strong></p>
        <p class="mt-5">Entendemos que los asuntos legales pueden ser complejos y abrumadores, ¡pero no tienes que afrontarlos solo!</p>
        <div style="background: linear-gradient(91.94deg, #627A93 19.16%, #39648F 92.32%)" class="rounded-3xl p-5 sm:py-10 md:p-15 lg:py-20 flex flex-col gap-5 justify-between mt-5">
          <h2 style="color: #fff">¡Póngase en contacto con <span class="italic">Cavelli y Asoc.</span> hoy!</h2>
          <p style="color: #fff">Discuta sus necesidades legales con nosotros.</p>
          <a [href]="'#contactanos'" target="_self" class="p-button button-white" style="align-self: start">¡CONSULTA AQUÍ!</a>
        </div>
        <div class="flex flex-col sm:flex-row gap-5 mt-5 justify-normal">
          <a href="https://wa.me/+5492364666986" class="element-hover pe-2.5">
            <div class="flex gap-5 flex-row items-center">
              <div class="pi pi-whatsapp p-4 rounded-full h-fit text-white" style="background-color: #627a93;"></div>
              <p style="font-size: 0.875rem">+54 9236 466-6986</p>
            </div>
          </a>
        </div>
        <google-map width="100%" height="400px" style="border-radius: var(--radius-3xl);" [center]="center" [zoom]="zoom">
          <map-marker [position]="junin" title="Junín, Buenos Aires" (mapClick)="goToLocation(junin.lat, junin.lng)"></map-marker>
          <map-marker [position]="marDelPlata" title="Mar del Plata, Buenos Aires" (mapClick)="goToLocation(marDelPlata.lat, marDelPlata.lng)"></map-marker>
        </google-map>
      </div>
    </div>
  </div>
</section>
