<footer style="background-color: #ececec" id="contactanos">
  <div style="background-color: #fff" class="py-10 rounded-t-3xl">
    <div class="container mx-auto grow h-full">
      <div class="mx-5">
        <div class="flex flex-col gap-10 items-center">
          <div><img ngSrc="logo-footer.svg" alt="" width="100" height="100" class="w-[60vw] sm:w-[40vw] md:w-[30vw] lg:w-[20vw] xl:w-[15vw] "></div>
          <div class="flex gap-5 sm:gap-10">
            <div>
              <p><strong>Junín</strong></p>
              <a href="https://maps.app.goo.gl/KtpJGCDXs9BmcSAo7">Av. Rivadavia 341, Junin. Bs. As.</a>
            </div>
            <div>
              <p><strong>Mar del Plata</strong></p>
              <a href="https://maps.app.goo.gl/PXaGdVQRvhkGir928">Bolivar N 3053, 3 ° A</a>
            </div>
          </div>
        </div>
        <hr class="mt-10 mb-5">
        <div class="flex flex-col md:flex-row gap-5 justify-between">
          <p>© 2025 Tu Defensa Legal.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
